<!DOCTYPE html>
<html>
  <head>
    <title>Hello my friends</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Welcome traveler</h1>
    <h2>This is my beautiful website</h2>
    <p>There is a list of things that I like</p>
    <ul>
    <li><a href="http://localhost:3000/games">Video Games</a></li>
    <li><a href="http://localhost:3000/skate">Skateboard</a></li>
    <li><a href="http://localhost:3000/music">Music</a></li>
    </ul>
  </body>
</html>
