<!DOCTYPE html>
<html>
  <head>
    <title>Hello my friends</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Welcome traveler</h1>
    <h2>This is my beautiful market</h2>
    <p>See my favorite games <a href="http://localhost:3000/games">here</a>
  </body>
</html>
